.md-header {
    background-color: #147232;
}

.alert-word {
    color:  #fb0e0e;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #25A8AF;
  --md-default-fg-color--light: #00d0da;
  --md-accent-fg-color: #25A8AF;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color:       #25A8AF;
  --md-default-fg-color--light: #00d0da;
}

.center {
    margin: auto;
    display: block;
}

.asset_image{
    display: inline-block;
    width: 32.5%;
}

.back-button {
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF !important;
    font-weight: bold;
    text-align: center;
    background: #ec6628;
    display: block;
    margin: auto;
    width: 50%;
}

.back-button:hover {
    background: #e8a485;
}

.lite-asset {
    border: solid 4px #1F9DD3;
}